body {
    background-color: lightgray;
    background-image: url(images/smoke.jpg);
    background-blend-mode:overlay;
    background-repeat: repeat;
    background-size: cover;
    font-family:'Arial Narrow', Arial, sans-serif;
    margin: 10px 10px 10px 10px;    
}

header, footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    background-color: #333;
    color: lavender;
    border: 2px solid #1E072C;
    border-radius: 20px 20px 20px 20px;
    margin: 10px 10px 10px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    justify-content: space-between;
    text-shadow: 2px 1px black;
    margin-bottom: 30px;
}

header img {
    width: 120px;
    height: auto;
    border-radius: 20px 20px 20px 20px;
}

.headerc {
    display: block;
    text-align: center;
}

.headerc span {
    font-style: italic;
}

a .headerc h1 {
    border-radius: 20px 20px 20px 20px;
    padding: 16px 20px;
}

a:hover .headerc h1 {
    background-color: #1E072C;
}

footer {
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}

footer h3, ul {
    margin: 0px;
}

footer li {
    display: inline-block;   
}

footer li a {
    display: block;
    color: lavender;
    text-shadow: 2px 1px black;
    border-radius: 20px 20px 20px 20px;
    padding: 16px 20px;
}

 footer li a:hover {
    background-color: #1E072C;
    color: lavender;
}

#pola  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin: 0;
}

.pole {
    text-align: center;
    background-color: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid #28133b;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    width: 300px;
    height: 400px;
    opacity: 0.6;
    color: lavender;
    text-shadow: 2px 1px black;
    box-shadow: 0px -0px 40px 0px black;
}

.pole:hover {
    opacity: 1;
}

.pole img {
    width: 200px;
    height: 300px;
    box-shadow: 0px -0px 40px 0px black;
}

.pole h2 {
    text-align: center;
    color: lavender;
    text-shadow: 1px 0px black;
}

.str {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    min-width: 350px;
    height: 100%;
    margin: 10px 10px 10px 10px;
    background-color: rgb(128, 128, 128,.5);
    box-shadow: 0px -0px 40px 0px black;
    color: #28133b;
}

.str h2 {
    text-align: center;
    color: #28133b;
    text-shadow: 1px 0px black;
    border-bottom: 2px solid #1E072C;
    margin: 0;
}

.str_img {
    margin: 10px 0px 10px 0px;
    padding: 10px 10px 10px 10px;
}

.str_img img {
    width: 200px;
    height: 300px;
    border: 2px solid #1E072C;
}

.str_txt {
    width: 280px;
    height: auto;
    margin: 10px 0px 10px 0px;
    padding: 10px 10px 10px 10px;
    text-align: justify;
}

.txt {
    text-align: center;
}

.cytaty {
    text-align: justify;
    max-width: 550px;
    height: auto;
    margin: 0px;
    padding: 10px 10px 10px 10px;
}

.cytaty p {
    font-style: italic;
    font-weight: 550;
    font-size: 98%;
}

.cytaty h3 {
    flex-direction: column;
    text-align: center;
    border-bottom: 2px solid #1E072C;
}

.aa p {
    font-style: normal;
}

a {
    text-decoration: none;
}

h2::first-letter {
    font-size: 120%;
}

p span {
    font-weight: bolder;
}

h3 span {
    border-bottom: 2px solid #1E072C;
}

ul {
    list-style-type: none;
    padding: 0;
}

#main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 480px)
{
    .str {
        font-size: 111%;
    }
    footer {
        font-size: 111%;
    }
}

@media screen and (max-width: 480px)
{
    .headerc {
        font-size: 60%;        
    }
    .headerc img {
        width: 78px;
    }
    #pola {
        text-align: center;
        font-size: 80%;
        flex-direction: column;
    }
    .pole {
        width: 250px;
        height: 333.3px;
    }
    .pole img {
        width: 166.6px;
        height: 250px;
    }
    .str {
        font-size: 16px;
        min-width: 260px;
        width: 80%;
    }
    .str_txt {
        width: auto;
        height: auto;
    }
    .cytaty h3 {
        width: auto;
        margin-left: 0;
    }
    footer {
        font-size: 95%;
    }
}
